/*
used to fix issues related to floating child elements within a parent element. Without a clearfix your child elements wont behave as you expect them too. When a HTML element is floated it can appear to sit outside its parent element and that means it wont adjust the parents height accordingly.
*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    letter-spacing: 0px;
    font-weight: bold; }
  body p, body a {
    letter-spacing: 0px; }

.logo {
  height: 40px;
  width: 40px; }

.logo-font {
  height: 20px; }

.rotated-logo {
  -ms-transform: rotate(-20deg);
  /* IE 9 */
  -webkit-transform: rotate(-20deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-20deg); }

.button {
  display: inline-block;
  vertical-align: middle;
  background-color: #FF5A5F;
  font-weight: bold; }

.section-header {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
  letter-spacing: 0px; }

#video {
  background-color: #f8f8f8; }
  #video #homepage-hero-module .no-video .video-container .background-banner,
  #video #homepage-hero-module .touch .video-container .background-banner {
    display: none; }
  #video #homepage-hero-module .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000; }
    #video #homepage-hero-module .video-container .background-banner {
      position: absolute;
      z-index: 0;
      bottom: 0;
      object-fit: cover; }
      #video #homepage-hero-module .video-container .background-banner .fillWidth {
        width: 100%; }
    #video #homepage-hero-module .video-container .filter {
      z-index: 100;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      width: 100%; }
    #video #homepage-hero-module .video-container .title-container {
      z-index: 1000;
      position: absolute;
      top: 35%;
      width: 100%;
      text-align: center;
      color: #fff; }
      #video #homepage-hero-module .video-container .title-container .headline {
        text-transform: uppercase; }
        #video #homepage-hero-module .video-container .title-container .headline h1 {
          margin-bottom: 0; }
      #video #homepage-hero-module .video-container .title-container .description .inner {
        width: 45%;
        margin: 0 auto; }
    #video #homepage-hero-module .video-container .logo-container {
      z-index: 101;
      position: absolute;
      margin: 1rem 1rem 0rem; }

#mc_embed_signup {
  z-index: 1000;
  position: absolute;
  bottom: 0%;
  width: 100%; }

.signup-form .subscribe-container {
  text-align: center;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.6); }
  .signup-form .subscribe-container input {
    height: 40px;
    margin: 0; }
  .signup-form .subscribe-container #logo-signup-form {
    float: left;
    margin-left: 10px; }
  .signup-form .subscribe-container #mce-EMAIL {
    display: inline-block;
    vertical-align: middle;
    max-width: 300px; }

#what-we-do {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f8f8f8; }
  #what-we-do #description-container .description {
    max-width: 800px;
    margin: 0 auto;
    text-align: center; }

#how-it-works {
  padding-top: 7rem;
  padding-bottom: 3rem;
  background-color: white; }
  #how-it-works .how-we-help-sub {
    margin-top: 2rem; }
  #how-it-works .feature-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem; }
  #how-it-works .feature-container {
    display: block; }

#contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: white;
  margin: 0 !important;
  height: auto;
  text-align: center; }
  #contact input {
    display: inline-block;
    height: 40px;
    margin-bottom: 20px; }
  #contact textarea {
    height: 100px; }
  #contact .button {
    min-width: 100px; }
    #contact .button:hover {
      background-color: #FF5A5F; }

#footer {
  background-color: #4A4A4A;
  margin: 0 !important;
  height: auto;
  padding: 5px 0; }
  #footer #footer-inner {
    width: 100%; }

.arrow {
  position: absolute;
  bottom: 2rem;
  right: 10px;
  margin-left: -20px;
  z-index: 1002; }

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce; }

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-30px); }
  60% {
    -o-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
.sticky {
  position: fixed !important;
  top: 0;
  bottom: auto !important; }

.hidden {
  display: none !important; }

.h-align {
  text-align: center; }

.valign-middle {
  display: table; }

.valign-middle .columns {
  display: table-cell;
  vertical-align: middle; }

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
  float: none; }

.circular--square {
  border-radius: 50%; }

/*# sourceMappingURL=articentral.css.map */
